.container-sidebar {
  --p-menu-background: none;
  --p-menu-color: var(--color-white);
  --p-menu-submenu-label-color: var(--color-white);
  --p-content-hover-background: var(--color-light-color);
  --p-menu-border-color: none;
  --p-menu-item-focus-background: var(--color-light-color);
}

::ng-deep .p-menu-submenu-label span {
  font-size: large;
  font-weight: 800;
}
