<section class="container-sidebar border-x border-black h-full">
  <div class="w-full">
    <p-menu [model]="getMenuItemList()">
      <ng-template #item let-item>
        <div class="flex items-center">
          <i [class]="item.icon + ' text-black group-hover:text-inherit pl-3'"></i>
          <span class="ms-3 mb-1">{{ item.label }}</span>

          @if (item.shortcut) {
            <span class="ms-auto border border-black rounded bg-emphasis text-black text-xs p-1">{{
              item.shortcut
            }}</span>
          }
        </div>
      </ng-template>
    </p-menu>
  </div>
</section>
