<section
  class="container-sidebar border-x border-black h-full flex flex-col justify-between bg-[#ea580c]"
>
  <div class="container-menu w-full">
    <p-menu [model]="getMenuItemList()">
      <ng-template #item let-item>
        <div class="flex items-center">
          <a href="{{ item.url }}">
            <i [class]="item.icon + ' text-black group-hover:text-inherit pl-3'"></i>
            <span class="ms-3 mb-1">{{ item.label }}</span>
          </a>

          @if (item.shortcut) {
            <span class="ms-auto border border-black rounded bg-emphasis text-black text-xs p-1">{{
              item.shortcut
            }}</span>
          }
        </div>
      </ng-template>
    </p-menu>
  </div>

  @if (isDesktop) {
    <div class="container-footer bg-[#ea580c]">
      <app-footer class="block w-full border-t border-black"></app-footer>
    </div>
  }
</section>
