<section class="flex flex-col md:flex-row justify-between items-center">
  <div id="container-logo" class="w-1/2 md:w-1/8 h-auto mx-auto md:mx-0">
    <img src="assets/png/logo-no-bg.png" alt="Logo" class="py-2 md:pl-8" />
  </div>

  <div id="container-buttons" class="flex justify-end items-center">
    <p-menubar [model]="items" />
  </div>

  <div class="flex items-center py-4 md:pr-12">
    <span class="font-['Gwendolyn'] text-6xl text-black font-extrabold tracking-wide">{{
      messages['yas.esfihas']
    }}</span>
  </div>
</section>
