<section
  class="flex flex-col md:flex-row justify-between items-center border-b border-black w-full bg-[#f8e2c7]"
>
  <div id="container-logo" class="w-full md:w-1/6 h-auto mx-auto md:mx-0 bg-orange-600">
    <img src="assets/png/logo-no-bg.png" alt="Logo" class="py-2 md:px-2" />
  </div>

  <div id="container-searchbar" class="flex justify-end items-center w-1/4">
    <p-autocomplete
      class="w-full"
      placeholder="{{ messages['pesquisar'] }}"
      dropdownIcon="pi pi-search"
      [dropdown]="true"
      [(ngModel)]="value"
      [suggestions]="items2"
      (completeMethod)="search($event)"
    />
  </div>

  <div class="flex items-center py-4 md:pr-12">
    <span class="font-['Gwendolyn'] text-6xl text-black font-extrabold tracking-wide">{{
      messages['yas.esfihas']
    }}</span>
  </div>
</section>
