/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@theme {
  --color-primary-color: #ff5a00;
  --color-secondar-colory: #cc4800;
  --color-background-color: #4d230d;
  --color-surface-color: #802d00;
  --color-light-color: #ff8b4d;
  --color-very-light-color: #fcc1a1;
  --color-white: #ffffff;
  --color-darker-white: #eeecec;
  --color-black: #111111;
  --color-gray: rgb(199, 194, 194);
  --color-zinc: #52525b;
  --color-zinc-950: #09090b;
}

.container-app-layout {
  background-color: var(--color-white);
}

span,
label,
p {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-white);
}
